input[type='text'],
input[type='text'],
input[type='password'] {
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-shadow: 0 1px 1px rgb(58, 1, 101); 
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.input-container {
    margin-bottom: 10px; 
    
  }

  
.button-container {
    display: flex; 
    gap: 10px; 
    justify-content: center;
}

.h1 {
  text-align: center;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
  

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}